<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .back{
      
      align-items: right;
      margin-right: auto;
    }
  </style>
</head>
<body>
<h1>{{customer.brideName}} weds {{customer.groomsName}} </h1>
  <h1>Brides informations</h1>
  Wedding serial: {{customer.serialNo}}<br>
  Bride name: {{customer.brideName}}
  <br>
  Bride Nid: {{customer.bridesNid}}
  <br>
  Bride Birth Certificate: {{customer.bridesBirthCertificate}}<br>
  Bride Passport: {{customer.bridesPassport}}<br>
  Bride Father's Name:{{customer.bridesFathersname}}<br>
  Bride Father's Nid: {{customer.bridesFathersNid}}<br>
  Bride Mother's Name:{{customer.bridesMothersname}}<br>
  Bride Father's Nid:{{customer.bridesMothersNid}}<br>
  Bride Occupation: {{customer.bridesOccupation}}<br>
  Bride worlplace: {{customer.bridesWorkplace}}<br>
  {{customer.brideImages}}<br>
  
  Bride Signature: {{customer.brideSignature}}<br>
  
  <hr>
  <h1>Grooms informations</h1>
  Groom name: {{customer.groomsName}}<br>
  Groom Nid: {{customer.groomsNid}}<br>
  Groom Birth Certificate: {{customer.groomsBirthCertificate}}<br>
  Groom passport: {{customer.groomsPassport}}<br>
  Groom Father's name: {{customer.groomsFathersname}}<br>
  Groom Father's Nid: {{customer.groomsFathersNid}}<br>
  Groom Mother's name: {{customer.groomsMothersname}}<br>
  Groom mother's Nid: {{customer.groomsMothersNid}}<br>
  GroomsOccupation: {{customer.groomsOccupation}}<br>
  Groom's Workplace: {{customer.groomsWorkplace}}<br>
  {{customer.groomImages}}<br>
  
  {{customer.groomSignature}}<br>

  <hr>
  <h1>Attestor informations</h1>
  First Attestor name: {{customer.firstAttestor}}<br>
  First Attestor Nid:{{customer.firstAttestorNid}}<br>
  Second Attestor name:{{customer.secondAttestor}}<br>
  second Attestor Nid:{{customer.secondAttestorNid}}<br>
  Thirs Attestor name:{{customer.thirdAttestor}}<br>
  Third Attestor Nid:{{customer.thirdAttestorNid}}<br>
  Marriage place: {{customer.marrige_place}}<br>
  Mariage Date:{{customer.marriage_date}}<br>
  
  
</body>
</html>